<!doctype html>
<html>
  <body>
    <h1>Register</h1>
    {% if messages %}
      {% for m in messages %}
        <p>{{ m }}</p>
      {% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <label>Roll No (username)</label><br/>
      <input name="username"/><br/>
      <label>Admission No (password)</label><br/>
      <input type="password" name="password"/><br/>
      <button type="submit">Register</button>
    </form>
    <p>
      <a href="/">Login</a>
    </p>
  </body>
</html>
